@import "reset.less";
@import "variables.less";
@import "modal.less";

body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: #fff;
  color: #000;
  min-height: 100vh;
}

.container {
  margin: 24px auto;
  width: 745px;
  @media (max-width: @screen-sm) {
    width: 280px;
  }
}

.site-header {
  flex: 0 0 66px;
  border-bottom: 1px solid @colour-gray;
  padding: 13px;
  display: flex;
  align-items: center;
  font-weight: bold;
  @media (max-width: @screen-sm) {
    justify-content: center;
  }
}

.header-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  @media (max-width: @screen-sm) {
    display: none;
  }
}

.header-brand {
  padding-left: 13px;
}

.site-layout {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.btn(@bdc: #000, @c: #000) {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1px solid;
  padding: 14px 28px;
  min-width: 120px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-color: @bdc;
  color: @c;
}

.btn-default {
  .btn;
}

.btn-success {
  .btn(@colour-green, @colour-green);
}

.form {
  &-group {
    margin-bottom: 40px;
  }
  &-input {
    display: block;
    width: 100%;
    border: 1px solid #000;
    padding: 16px 25px;
  }
}

.image-list {
  &-header {
    text-align: center;
    @media (max-width: @screen-sm) {
      .btn {
        display: block;
        
      }
    }
  }
}

.link {
  &:hover {
    cursor: pointer;
  }
  &-delete {
    color: @colour-red;
    @media (max-width: @screen-sm) {
      position: absolute;
      height: 190px;
      width: 100%;
      left: 0;
      bottom: 0;
      opacity: 0;
      filter: alpha(opacity=0);
      display: flex;
      justify-content: center;
      align-items: center;    
      background-color: fade(@colour-red, 80%);
      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }
  }
}

.image {
  &-container {
    margin: 20px 0 50px;
    position: relative;
    
  }
  &-block {
    border: 1px solid @colour-gray;
    height: 434px;
    display: flex;
    flex-direction: column;
    @media (max-width: @screen-sm) {
      height: 225px;
    }
    &-heading {
      border-bottom: 1px solid @colour-gray;
      padding: 22px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      @media (max-width: @screen-sm) {
        padding: 8px 22px;
        justify-content: center;
      }
    }
  }
  &-picture {
    display: flex;
    flex: 1 1 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  &-link-delete {
    font-size: 0.9em;
  }
}