@import "reset.less";
@import "variables.less";

body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: #fff;
  color: #000;
  min-height: 100vh;
}

.container {
  margin: 24px auto;
  width: 745px;
  @media (max-width: @screen-sm) {
    width: 280px;
  }
}

.site-header {
  flex: 0 0 66px;
  border-bottom: 1px solid @colour-gray;
  padding: 13px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
}

.header-brand {
  padding-left: 13px;
}

.site-layout {
  flex: 1 0 auto;
}