.blocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  overflow: auto;
  z-index: 1;
  box-sizing: border-box;
  background-color: #a5a5a5;
  text-align: center;
  @media (max-width: @screen-sm) {
    background-color: #fff;
  }
}
.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.blocker.behind {
  background-color: transparent;
}

.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 50px 75px;
  width: 430px;
  @media (max-width: @screen-sm) {
    width: 100%;
    padding: 22px;
  }
  &-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: @screen-sm) {
      flex-direction: column-reverse;
      .btn {
        margin-bottom: 24px;
      }
    }
  }
}
